# TEMPLATE GITIGNORE - REACT NATIVE EXPO (PORTFÓLIO CRUD)

# Dependências
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native / Builds locais do Expo
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.apk
*.aab
*.ipa

# Metro Bundler
.metro-health-check*

# Logs de Erros
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# Sistema Operacional
.DS_Store
Thumbs.db

# Segurança
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo

# Configurações de Editores
.vscode/
.idea/
*.suo
.ntvs

# Android | IOS Nativo 
/ios
/android
